.header {
  padding: 0px 145px;
  height: 100px;
  background-color: #567086;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header ul li i,
.header ul li a {
  color: #fff;
  transition: all 0.3s ease;
}
.header ul li i {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
.header ul li {
  padding: 13px 28px;
  cursor: pointer;
}
.header ul li a {
  font-size: 15px;
  font-weight: 500;
}
.header ul li:hover a,
.header ul li:hover i {
  color: #f5a623;
}
.header .logout a {
  color: #fff;
  font-size: 15px;
}
.active {
  background-color: #f5a623;
}
.header ul li.active:hover a,
.header ul li.active:hover i {
  color: #fff;
}
.headermob {
  display: none;
}
@media (max-width: 767px) {
  .header {
    padding: 0px;
    display: none;
  }
  .headermob {
    display: initial;
  }
  .headermob header {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #567086;
  }
  .headermob nav ul {
    list-style-type: none;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .headermob nav {
    background-color: #567086;
  }
  .headermob nav ul a {
    color: #fff;
  }
  .active {
    background-color: initial;
  }
  .active a {
    color: #f5a623 !important;
  }
}
