.flexdiv {
  margin-bottom: 30px;
  display: flex;
}
.flexdiv div:first-child {
  margin-right: 10px;
}
.flexdiv > div {
  width: 50%;
}

@media (max-width: 767px) {
  .flexdiv {
    display: block;
  }
  .flexdiv > div {
    width: 100%;
    margin-bottom: 30px;
  }
}
