.container {
  background-color: #435c71;
  padding: 40px;
  -webkit-box-shadow: 1px 1px 5px 0 #455c71;
  -moz-box-shadow: 1px 1px 5px 0 #455c71;
  box-shadow: 1px 1px 5px 0 #455c71;
  min-height: 350px;
  height: 100%;
  max-height: 450px;
  overflow-y: scroll;
}

.statustd {
  position: relative;
  left: 15px;
}
.status {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 10px;
  top: 20px;
  border-radius: 100%;
}
.Moving {
  background-color: rgb(3, 208, 3);
  box-shadow: 0px 0px 3px 0.2px rgb(3, 208, 3);
}
.Pending {
  background-color: yellow;
  box-shadow: 0px 0px 3px 0.2px yellow;
}
.Cancelled {
  background-color: red;
  box-shadow: 0px 0px 3px 0.2px red;
}
.Delivered {
  background-color: blue;
  box-shadow: 0px 0px 3px 0.2px blue;
}
